:root {
    --banner-height : 4em;
    --board-width-max: 31.25em;
    --keyboard-width: 50em;
    font-family: Consolas, monospace;
}
#game-screen {

    height: calc(100% - var(--banner-height));
    width: 100%;
    background-color: black;
    max-width: var(--board-width-max);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#gameboard-container {
    display: flex;
    height: 55%;;
    justify-content: center;
    flex-grow: 1;
    padding: 1.5em;
}

#gameboard {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 0.5em;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0.5em;
}

.tile {
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    line-height: 4.5rem;
    color: white;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;
    font-weight: bold;
    border-style: solid;
    border-color: green;
    border-width: 1px;

}

#main-title {
    text-align: center;
    text-transform: uppercase;
    color: white;
    height: var(--banner-height);
    width: 100%;
    background-color: rgb(19, 19, 19);
    margin: 0 auto;
    padding: 0;
    position: fixed;
}

body {
    margin: 0 auto;
    background-image: url("bkg.gif");
}

#title {
    padding-top: 0.3em;
    font-size: 2.5em;
    margin: 0;
}
section {
    padding-top: var(--banner-height);
    padding-bottom: var(--banner-height);
}

.key {
    border: 0px;
    padding: 0px;
    font-family: inherit;
    font-weight: bold;
    margin: 0 6px 0 0;
    height: 3em;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
    user-select: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: manipulation;
}

.key-row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

#keyboard {
    max-width: var(--keyboard-width);

    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#keyboard-container {
    width: 100%;
    text-align: center;
    touch-action: manipulation;
}

#hack-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 1em;
}

#hack-button {
    cursor: pointer;
    width: 7em;
    height: 2.8em;
    background-image: url("hackbutton.png");
    background-size: contain;
    background-repeat: no-repeat;
}
